.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: white url(list.gif) no-repeat left center;
list-style-type: none;
padding-left: 22px;
margin-bottom: 3px;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: white url(closed.gif) no-repeat left 1px;
cursor: hand !important;
cursor: pointer !important;
}


.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}

a{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:black;	
}

.treeview li a{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:black;
}

.treeview li img{
	border: 0;
}

.treeview li a.tdi1 {
display:block;
float:left;
width:500px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:black;
}

.treeview li a.tdi2 {
margin-left:300px;
}

.treeview li li a.tdi2 {
margin-left:340px;
}

.treeview li.r1 {

}

.treeview li li a.tdi1 {
width:478px;
}

.treeview li li li a.tdi1 {
width:456px;
}

.treeview li li li li a.tdi1 {
width:434px;
}

.treeview li:hover div{
background-color:#e0e0e0; 
}

.treeview li:hover li div{
background-color:#FFFFFF; 
}

.treeview li:hover li:hover div{
background-color:#e0e0e0; 
}

.treeview li:hover li li div{
background-color:#FFFFFF; 
}
.treeview li:hover li:hover li div{
background-color:#FFFFFF; 
}

.treeview li:hover li:hover li:hover div{
background-color:#e0e0e0; 
}

.treeview li:hover li li li div{
background-color:#FFFFFF; 
}
.treeview li:hover li:hover li li div{
background-color:#FFFFFF; 
}

.treeview li:hover li:hover li:hover li div{
background-color:#FFFFFF; 
}

.treeview li:hover li:hover li:hover li:hover div{
background-color:#e0e0e0; 
}