RewriteEngine on
Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php
RewriteCond $1 !(.jpg|.gif|.png|.swf|.css|.js|.txt)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]

AddType video/x-flv .flv